@charset "UTF-8";

.alert-info {
	width: 33.3%;height: 50%;text-align: center;
	padding-top: 20px;
	margin-top: 200px;
	margin-bottom: 150px;
	display: block;
	border: 0;
	margin-left: 33.35%;
	color: black;
	background: none;
}

.alert {
	outline: 0;
}

.btnOut {
	border: 0!important;
	outline: 0!important;
	background-color: #8cc63f!important;
	color: #f4f4f4!important;
	padding: 1rem 2rem;
	display: block;
	border-radius: 3px 3px 3px 3px;
	margin: auto;
	margin-top: 50px;
}

.passInput {
	border: 0!important;
	outline: 0!important;
	color: #ffaa00!important;
	caret-color: #ff5500!important;
	border: .8px solid #ffa900!important;
	border-radius: 3px 3px 3px 3px;
	height: 45px;
	width: 350px;
	margin-top: 20px;
}

.txtPass {
	border: 0;
	outline: 0;
	border-radius: .3rem;
	caret-color: orange;
}

b {
    font-size: 25px;	
} 
