@charset "UTF-8";

.alert-info {
	width: 33.3%;height: 50%;text-align: center;
	padding-top: 20px;
	background-color: rgba(200,88,0,.6);
	margin-top: 100px;
	display: block;
	border: 0;
	box-shadow: .3rem .3rem .3rem .3rem rgba(0,0,0,.5);
	margin-left: 33.35%;
}

.alert {
	outline: 0;
}

.btnOut {
	border: 0!important;
	outline: 0!important;
	background-color: #ffaa00!important;
	color: #f4f4f4!important;
	padding: 1rem 2rem;
}

.passInput {
	border: 0!important;
	outline: 0!important;
	color: #ffaa00!important;
	caret-color: #ff5500!important;
	border: .8px solid #ffa900!important;
}

b {
	color: #f4f4f4;
}

.txtPass {
	border: 0;
	outline: 0;
	border-radius: .3rem;
	caret-color: orange;
}