@charset "UTF-8";

/* body {
	text-align: center;
	width: 900px;
} */
div#wrapper {
	position: relative;
}
div#container {
	margin-top: 100px;
}
div.textWrap {
	position: relative;
	left: 30%;
	top: 40%;
}
div.signupBox {
	position: relative;
	left: 10%;
}
header, footer, nav, aside, section {
	border: 1px solid #999;
}
header {
	height: 50px;
	background-color: red;
	width: 100%;
	position: fixed;
	z-index: 9999;
}
nav {
	background-color: goldenrod;
	height: 100%;
}
aside {
	background-color: goldenrod;
}
footer {
	background-color: blue;
	position: relative;
	width: 2000px;
}
a.btnbigpink {
	color: black;
}
li {
	float: left;
	display: block;
	padding: 0 23px;
	height: 100%;
}
ul {
	list-style: none;
}
/* 2차 메뉴 */
ul ul {
	display: none;
}
li:hover >ul{
	display: block;
}
li>ul {
	position: absolute;
	left: -20px;
}