@charset "UTF-8";

/* body {
	text-align: center;
	width: 900px;
} */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { gird-area: footer; }

div#wrapper {
}
div#container {
	margin-top: 100px;
}
/* div.textWrap {
	position: relative;
	left: 30%;
	top: 40%;
} */
/* div.signupBox {
	position: relative;
	left: 10%;
} */
.navHeader {
	/* height: 50px; */
	background-color: #ffaa00;
	/* width: 100%; */
	margin-top: 100px;
}
nav {
	background-color: #FFAA00;
	/* height: 100%; */
}
aside {
	background-color: #FFAA00;
}
footer {
	background-color: #FFAA00;
	width: 100%;
}
a.btnbigpink {
	color: black;
	width: 100%;
	height: inherit;
}
header {
	height: 40%;
	background-color: #ffaa00;
	/* width: 100%; */
}
nav {
	background-color: #ffaa00;
	/* position: fixed;
	width: 100%;
	height: inherit;
	z-index: 9999; */
}
section {
	/* width: 604px; */
	color: #ffa500;
}
aside {
	background-color: #FFAA00;
	/* width: 100px; */
	color: #f4f4f4;
}
footer {
	/* height: 50px; */
	background-color: #ffaa00;
	color: #f4f4f4;
}
article {
	width: 90%;
	margin: 20px;
	background-color: #999;
}
a.btnbigpink {
	user-select: none;
	border-radius: 10;
	box-shadow: 0 1px 1px 1px rgba(150,200,150,0.3);
	display: inline-block;
	font-weight: 400;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	font-size: 16px;
	padding: 10px 20px;
	color: #f4f4f4;
	background-color: rgba(255,190,0,.8);
	border: 0;
	line-height: normal;
	display: inline-block;
	text-align: center;
}
li {
	float: left;
	display: block;
	padding: 0 23px;
	height: 100%;
}
ul {
	list-style: none;
}
/* 2차 메뉴 */
ul ul {
	display: none;
}
li:hover >ul{
	display: block;
}
li>ul {
	position: absolute;
	left: -20px;
}
li>a {
	color: #f4f4f4;
	text-decoration: none!important;
}

.gridContainer {
	display: grid;
	grid-template-areas:
		'header header header header header header'
		'menu main main main main main'
		'menu footer footer footer footer footer';
	padding: 10px;
	margin-top: 4%;
}
li>a:hover {
	color: #ff7700;
}