@charset "UTF-8";

li.menuLi {
	float: left;
	display: block;
	padding: 0 5px;
}

ul.menuUl ul.menuUl {
	display: none;
}

li.menuLi:hover >ul.menuUl{
	display: block;
}
li.menuLi>ul.menuUl {
	position: absolute;
}

.spotLst {
	width: 500px;
	border: 1px solid #ff5500;
}

button {
	border-color: #ff8800;
	border-radius: .3rem;
	padding: 10px 20px;
	background-color: #ffaa00;
	box-shadow: .03rem .02rem .01rem .02rem #ff5600;
	color: #f4f4f4!important;
}