@charset "UTF-8";

.btnbigpink {
	cursor: pointer;
<<<<<<< HEAD
=======
}

span.putBieye {
	position: relative;
	display: inline-block;
}

div.toolTip {
	background-color: orange;
	padding: .4rem .4rem .4rem .4rem;
	position: absolute;
	color: #f4f4f4;
	text-align: center;
	z-index: 1;
	white-space: nowrap;
	border-radius: .5rem;
	visibility: hidden;
}

div.toolTip p {
	margin: 0;
}

span.putBieye:hover div.toolTip {
	visibility: visible;
>>>>>>> branch 'feature/5' of https://github.com/tkd9708/SemiProject.git
}