@charset "UTF-8";

.btnbigpink {
	cursor: pointer;
	margin-bottom: 1rem;
	border: 0;
}

span.putBieye {
	position: relative;
	display: inline-block;
}

div.toolTip {
	background-color: orange;
	padding: .4rem .4rem .4rem .4rem;
	position: absolute;
	color: #f4f4f4;
	text-align: center;
	z-index: 1;
	white-space: nowrap;
	border-radius: .5rem;
	visibility: hidden;
}

div.toolTip p {
	margin: 0;
}

span.putBieye:hover div.toolTip {
	visibility: visible;
}

div.regWrap {
	width: 33.3%;
	margin: 0 auto;
	margin-top: 16.65%;
	/* display: flex;
	justify-content: center; */
}

span.btnTxt {
	color: #f4f4f4;
	border: 0;
	display: block;
	font-size: 1.5rem;
	line-height: normal;
	margin: 0;
	outline: 0;
	padding: 1.2rem 1.6rem 1.2rem 1.6rem;
	text-align: center;
	opacity: .5;
	background-color: #ff5500;
}

* {
	box-sizing: border-box;
}

th {
	color: #ffaa00;
	text-decoration: none;
	background-color: transparent;
	padding-left: .7rem;
}

caption {
	color: #ffac00;
}

input {
	border: .02rem solid rgba(255,200,0,.7);
	outline: 0;
	margin: 0;
	height: 44px;
	width: 400px;
}
.vPlaceholder1 {
	border-bottom: none;
}

.regMemberBtn {
	text-align: center;
	padding: 1rem auto;
}

button {
	outline: 0;
	border: 0;
}

.regForm {
	width: 1000px;
}

svg.bi-eye {
	fill: #ffaa00;
}

svg.bi-eye-slash {
	fill: #aba;
}