@charset "UTF-8";

body {
	font-size: 18px;
}

button {
	border: 0;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	background-color: transparent;
	outline-color: #ffab00;
}

::selection {
	background: #ffaa00;
	color: #0099a4;
}

.wrapAddress {
	height: 100%;
	display: block;
}

.postSearch {
	background-color: #ffaa00!important;
	height: 50px!important;
	padding: 0 70px 0 20px!important;
	position: relative!important;
	margin: 0!important;
	display: block!important;
	font-size: 18px!important;
	color: #f4f4f4!important;
}

.postFld {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
}

.formSearch {
	border-bottom-color: #f4f4f4;
	height: 50px;
	border-bottom: 1px solid #f4f4f4;
	margin: 0;
	padding: 0;
	display: block;
}

.btnSearch {
	background-color: #ffaa00;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 50px;
	cursor: pointer;
}

.imgPost {
	display: block;
	margin: 1px 15px 0 5px;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.Postinfo {
	padding: 40px 30px;
	background-color: #fff;
	border-bottom: 1px solid #f4f4f4;
}

p {
	margin: 0;
	padding: 0;
}

.infoWrite {
	margin-top: 13px;
	line-height: 2rem;
	color: #ff9977;
}

.txtInfo {
	color: #ffaa33;
	display: block;
	margin-top: 4px;
	font-size: 14px;
	line-height: 20px;
}

.infoWrite2 {
	margin-top: 10px;
	line-height: 2rem;
	color: #ff9975;
}

.popupFoot {
	opacity: .7;
	padding: 10px 0 20px;
	font-size: 11px;
	color: #f0f0f0;
	text-align: center;;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	display: block;
}

.innerFooter {
	display: inline-block;
}

.ddoddot {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 10px;
	margin-top: 10px;
	font-weight: bolder;
	font-size: 1rem;
	color: #ff4400;
}

.pressed {
	display: none;
}

.fs {
	position: relative;
	display: table;
	width: 100%;
}

.ipWrapper {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

.show::before, .show::after {
	transition: .1s opacity;
	content:attr(label-value);
}

.show::after {
	position: absolute;
	/* bottom: 2px; */
	left: 0px;
	opacity: 0;
}

.show::before {
	opacity: 0;
}

:placeholder-shown + .show::after {
	opacity: .5;
}

.show::after, :placeholder-shown + .show::before {
	opacity: 0;
}

.findRegion {
	width: 100%;
	padding-top: 15.8px;
	border: 0;
	background-color: transparent;
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	z-index: 2;
	color: #f4f4f4;
	font-size: 18px;
}

.show {
	position: absolute;
	display: inline-block;
	top: 12px;
}

svg {
	fill: #f4f4f4;
}

svg:hover {
	fill: #ff4400;
}

.postCode {
	color: #ff5500!important;
}

li.addrRoll {
	position: relative;
	padding: 14px;
	background-color: #fff;
	border-top: .056rem solid #cccccc;
	border-left: .056rem solid #e0e0e0;
	border-right: .056rem solid #e0e0e0;
	border-bottom: 0 none;
}

li {
	list-style: none;
	margin: 0;
	font-size: 15px;
	line-height: normal;
}
dt.wrAddr {
	display: inline-block;
	float: left;
	border: .056rem solid #ffaa00;
	border-radius: 50%;
	width: 40px;
	height: 30px;
	margin-top: 5px;
	font-size: 12px;
	line-height: normal;
	color: #f4f4f4;
	background-color: #ffa800;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

dt.wrAddr span {
	display: inline-block;
	margin-top: 15%;
}

dd.addrInfo {
	margin-top: 0;
	padding-left: 8px;
	display: block;
}

span.txtAddr {
	display: block;
	padding-top: 0;
	border-top: 0 none;
	padding-right: 0;
	position: relative;
	padding: 5px 50px 8px 0;
	word-break: break-all;
	padding-left: 10px;
}

button.optAddress {
	cursor: pointer;
	text-align: left;
	color: #444;
	padding-right: 8px;
	word-break: break-all;
}

ul.addrList {
	margin: 0;
	padding: 0;
	margin-top: -1px;
}

.addrPage {
	box-shadow: none;
	position: relative;
	height: 50px;
	border-top: .056rem solid #dddddd;
	background-color: #f9f9f9;
	border-left: .056rem solid #e0e0e0;
	border-right: .056rem solid #e0e0e0;
	border-bottom: .056rem solid #e0e0e0;
	border-bottom-left-radius: .056rem;
	border-bottom-right-radius: .056rem;
	margin: 0;
	padding: 0;
	display: block;
	line-height: normal;
}

.addrPgIn {
	position: relative;
	width: 25%;
	margin: auto;
	line-height: 52px;
	color: #c4c4c4;
	text-align: center;
	padding: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #ffaa00;
}

a:focus, a:hover {
	text-decoration: none;
	color: #ff8800;
}

.prevPage {
	left: 0;
}

.pageArrow {
	position: absolute;
	top: 0;
	width: 50px;
	height: 52px;
}

.imgLeft {
	display: block;
	margin: 15px auto 0;
	text-align: center;
	color: #ffaa00;
}

.nextPage {
	right: 0;
}

.imgRight {
	display: block;
	margin: 15px auto 0;
	width: 12px;
	height: 16px;
	text-align: center;
}

.inShowNum {
	text-shadow: .1rem .1rem .3rem #fd1c0f;
}

.popDownAddr li strong {
	color: #ff5200!important;
	font-weight: 400!important;
}

.popDownAddr li a.sgItem {
	display: block!important;
	padding: 0 50px 0 8px!important;
	height: 100%!important;
	font-size: 15px!important;
}

.popDownAddr a, .popDownAddr a:link, .popDownAddr a:visited {
	text-decoration: none;
}

.popDownAddr li {
	position: relative;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	line-height: 50px;
	cursor: pointer;
	list-style: none;
	border-bottom: 1px solid #eee;
}

.popDownAddr ul {
	padding-left: 0;
	z-index: 99999;
	list-style: none;
	margin: 0;
	padding: 0;
}

.popDownAddr {
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	border-bottom: 1px solid #c5c5c5;
	border-top: 0 none;
	background-color: #fff;
	font-size: 15px;
	z-index: 99999;
}

.sgBtnAdd .ft {
	display: block!important;
	margin: 0 auto!important;
	transform: translateY(1px)!important;
	font-size: 22px;
	font-weight: 800;
	color: #999;
}

.popDownAddr li:hover {
	background-color: rgba(220,100,0,.07);
}